

@media only screen and (max-width:1024px){
    .about .profile-img{
        width: 500px;
    }
}
@media only screen and (min-width:981px){
    #header #nav{
        display: none;
    }
}

@media only screen and (max-width:980px){
    .navbar{
        display: none;
    }

    .about .profile-img{
        width: 400px;
        height: auto;
    }
/*========================================
HAMBURG MENU
==========================================*/
    #menu{
        width: 30px;
        height: 30px;
        margin: 30px 0 20px 20px;
        padding-top: 20px;
        cursor: pointer;
        display:block;
    }
    .bar{
        height: 5px;
        width: 100%;
        display: block;
        background: #b81568;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .change .bar{
        background-color: #fff;
    }
    #bar1{
        transform: translateY(-4px);
        -webkit-transform: translateY(-4px);
        -moz-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
        -o-transform: translateY(-4px);
    }
    #bar3{
        transform: translateY(4px);
        -webkit-transform: translateY(4px);
        -moz-transform: translateY(4px);
        -ms-transform: translateY(4px);
        -o-transform: translateY(4px);
    }
    .change #bar1{
        transform: translateY(4px) rotateZ(-45deg);
        -webkit-transform: translatey(4px) rotateZ(-45deg);
        -moz-transform: translatey(4px) rotateZ(-45deg);
        -ms-transform: translatey(4px) rotateZ(-45deg);
        -o-transform: translatey(4px) rotateZ(-45deg);
}
    .change #bar3{
        transform: translateY(-6px) rotate(45deg);
        -webkit-transform: translatey(-6px) rotate(45deg);
        -moz-transform: translatey(-6px) rotate(45deg);
        -ms-transform: translatey(-6px) rotate(45deg);
        -o-transform: translatey(-6px) rotate(45deg);
    }
    .change #bar2{
        opacity: 0;
    }
    .navbar-nav{
        text-align: left;
    }
    .nav{
        margin: 0 20px;
        padding: 0;
        display: none;
        transition: .3s ease;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -ms-transition: .3s ease;
        -o-transition: .3s ease;
    }
    .nav li a{
        color: #fff;
        text-decoration: none;
    }
    .nav li a:hover{
        font-weight: 600;
    }
    .nav li{
    padding: 10px 0;
    list-style: none;
    }
    .change{
        display: block;
    }

    .menu-bg{
        height: 0;
        width: 0;
        background: radial-gradient(circle,#e94498,#b81568);
        border-radius: 50%;
        transition: 0.3s ease;
        -webkit-transition:;
        -moz-transition:;
        -ms-transition:;
        -o-transition:;
        z-index: 1;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}

    .change-bg{
        width: 540px;
        height: 540px;
        margin: 30px 0 20px 20px;
        transform: translate(-60%,-30%);
        -webkit-transform: translate(-60%,-30%);
        -moz-transform: translate(-60%,-30%);
        -ms-transform: translate(-60%,-30%);
        -o-transform: translate(-60%,-30%);
}
    .menu-bg,#menubar{
        top: 0;
        left: 0;
        position: absolute;
    }

    #menubar{
        z-index: 2;
    }

}

@media only screen and (max-width:768px){
    .user-box h1{
        font-size: 30px;
    }
}

@media only screen and (max-width:480px){
    .user-box img{
        width: 200px;
    }
    .user-box h1{
        font-size: 20px;
    }
    .user-box p{
        font-size: 14px;
    }

    .about{
        text-align: center;
    }

    .services{
        padding-top: 0;
        text-align: center;
    }
    .services h2{
        margin-bottom: 20px;
    }
}